<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodreadsDoppelganger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div  style="margin-bottom:0px;">
        <img src="/images/header1.jpg" alt="Header" style="width:100%;" />
    </div>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light box-shadow mb-3" style="margin:0px; background-color:white" id="header">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="margin-top:0px; font-weight:bold;">GOODREADS BUT BETTER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-info" asp-area="" asp-controller="Books" asp-action="Index">BOOKS</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-info" asp-area="" asp-controller="Authors" asp-action="Index">AUTHORS</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-info" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
                        </li>
                    </ul>
                    <div class="navbar-left" style="margin-top:-4px;">
                        <form asp-controller="Books" asp-action="Index" class="form-inline">
                            <input type="text" name="searchString" class="form-control mr-sm-2 searchBox" placeholder="SEARCH BOOK" style="padding:18px;" />
                            <input type="submit" value="SEARCH" class="btn btn-outline-info my-2 my-sm-0" />
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />


        <footer class="border-top footer text-muted" style="position:absolute; bottom:0">
            <div class="container">
                &copy; 2021 - GoodreadsDoppelganger
            </div>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
