<h2>About</h2>
<div class="grid-container" style="display:inline-flex;">
    <div class="card" style="width:20rem; border:none; overflow:hidden; margin-right:2rem; margin-top:2rem;">
        <img class="card-img-top" src="/images/kenny.jpg" alt="Kenny">
        <div class="card-body">
            <h5 class="card-title">Kenny Boufadene</h5>
            <p class="card-text">Hejsan! :))) </p>
        </div>
    </div>

    <div class="card" style="width: 20rem; border: none; overflow: hidden; margin-right: 2rem; margin-top: 2rem; ">
        <img class="card-img-top" src="/images/robin.jpg" alt="Robin">
        <div class="card-body">
            <h5 class="card-title">Robin Andersson</h5>
            <p class="card-text">Hejsan! :))) </p>
        </div>
    </div>

    <div class="card" style="width: 20rem; border: none; overflow: hidden; margin-right: 2rem; margin-top: 2rem; ">
        <img class="card-img-top" src="/images/amanda.jpg" alt="Amanda">
        <div class="card-body">
            <h5 class="card-title">Amanda Eriksson</h5>
            <p class="card-text">Hejsan! :))) </p>
        </div>
    </div>

    <div class="card" style="width: 20rem; border: none; overflow: hidden; margin-right: 2rem; margin-top: 2rem; ">
        <img class="card-img-top" src="/images/xander.jpg" alt="Xander">
        <div class="card-body">
            <h5 class="card-title">Xander Ek</h5>
            <p class="card-text">Hejsan! :))) </p>
        </div>
    </div>
</div>