
<h2 style="font-weight:bold">Reading inspiration</h2>

<div class="grid-container" style="display:inline-flex; margin-top:3rem;">

    <div class="card" style="width: 32rem; margin-right:30px; margin-bottom:30px; border:none;">
        <a asp-controller="Top10" asp-action="HighestRated" style="color:black">
            <img class="card-img-top" src="/images/HighestRated.jpg" alt="Highest rated">
            <div class="card-body">
                  <h5 class="card-title">Top 10 highest rated books</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none;">
        <a asp-controller="Top10" asp-action="BookClub" style="color:black">
            <img class="card-img-top" src="/images/BookClub.jpg" alt="Book club">
            <div class="card-body">
                <h5 class="card-title">Top 10 books for your book club</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none;">
        <a asp-controller="Top10" asp-action="Poetry" style="color:black">
            <img class="card-img-top" src="/images/poetry3.jpg" alt="Poetry">
            <div class="card-body">
                <h5 class="card-title">Top 10 poetry books</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none">
        <a asp-controller="Top10" asp-action="SummerReads" style="color:black">
            <img class="card-img-top" src="/images/summer.jpg" alt="Summer reads">
            <div class="card-body">
                <h5 class="card-title">Top 10 summer reads</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none;">
        <a asp-controller="Top10" asp-action="Anticipated2021" style="color:black">
            <img class="card-img-top" src="/images/highlyAnticipated2.jpg" alt="Anticipated 2021">
            <div class="card-body">
                <h5 class="card-title">Top 10 most highly anticipated books of 2021</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none;">
        <a asp-controller="Top10" asp-action="YogaMindfulness" style="color:black">
            <img class="card-img-top" src="/images/yoga3.jpg" alt="Yoga and mindfulness">
            <div class="card-body">
                <h5 class="card-title">Top 10 books about yoga and mindfulness</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none;">
        <a asp-controller="Top10" asp-action="Quarantine" style="color:black">
            <img class="card-img-top" src="/images/quarantine1.jpg" alt="Quarantine">
            <div class="card-body">
                <h5 class="card-title">Top 10 most popular books during quarantine</h5>
            </div>
        </a>
    </div>

    <div class="card" style="width: 32rem; margin-bottom:30px; margin-right:30px; border:none">
        <a asp-controller="Top10" asp-action="Dieting" style="color:black">

            <img class="card-img-top" src="/images/diet.jpg" alt="Dieting">
            <div class="card-body">
                <h5 class="card-title">Top 10 books about dieting</h5>
            </div>
        </a>
    </div>
</div>
