@model GoodreadsDoppelganger.Models.Review

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<br />

<div class="card">
    <div class="card-header" style="background-color:white; border-bottom:hidden">
        <div style="float:left">

            <p class="h4" style="font-weight:bold; padding-top:1rem;">
                @Model.Rating OF 5 STARS
            </p>
            @if (Model.HasSpoilers)
            {
                <label class="h5" style="font-weight:bold; margin-right:1rem;">CONTAINS SPOILERS</label>
            }

        </div>
    </div>
    <hr style="width:96%; margin-left:2% !important; margin-right:2% !important;" />
    <div class="card-body">
        <p style="font-weight:bold;" class="card-text">@Model.Text</p>
    </div>
    <div class="card-footer" style="padding-bottom:0px; background-color:white; border:none">
        <hr />
        <p>
            <small style="font-weight:bold;" class="text-muted">Published: @Model.PublicationDate</small>
        </p>
    </div>
</div>

<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-outline-primary" />
</form>

